apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.image.name }}
  namespace: {{ .Values.Namespace }}
  labels:
    app: {{ .Values.name }}

spec:
  ports:
  - port: 8000
  selector:
    app: {{ .Values.name }}
