# Before kubernetes can pull the image it needs to have the right credentials
# Kubernetes gets these credentials by way of a registry secret.

# See https://github.com/giantswarm/giantswarm/wiki/Kubernetes-Registry-Secret

apiVersion: v1
type: kubernetes.io/dockerconfigjson
kind: Secret
metadata:
  name: giantswarm-registry
  namespace: api-spec
data:
  .dockerconfigjson: <SOMETHING>
